.App {
  font-family: sans-serif;
  text-align: center;
}

/* Control carousel height */
.home-carousel {
  max-width: 100%;
}

/* Fix image height */
.carousel-img-wrapper {
  height: 520px; /* adjust as needed */
  overflow: hidden;
}

/* Image fit inside box */
.carousel-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* cover | contain */
}
